<% @videos.each do |video| %>
  <div class="video-thumb col-md-3 col-sm-4">
    <%= link_to "https://youtu.be/#{video.id}", target: "_blank" do %>
      <%= image_tag video.thumbnail_url('medium') %>
      <h3><%= video.title %></h3>
    <% end %>
  </div>
<% end %>
